src/main/resources/com/google/code/springcryptoutils/core/spring/crypt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://code.google.com/p/spring-crypto-utils/schema/crypt"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://code.google.com/p/spring-crypto-utils/schema/crypt"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <!-- KEYSTORE -->

    <xsd:element name="keystore">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="location" type="xsd:string" use="required"/>
                    <xsd:attribute name="password" type="xsd:string" use="required"/>
                    <xsd:attribute name="type" type="xsd:string" default="JKS"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64Keystore">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:sequence>
                        <xsd:element name="file" type="xsd:string"/>
                    </xsd:sequence>
                    <xsd:attribute name="password" type="xsd:string" use="required"/>
                    <xsd:attribute name="type" type="xsd:string" default="JKS"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="keystoreRegistry">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="entries-ref" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- KEYS -->

    <xsd:element name="publicKeyRegistryByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keystoreRegistry-ref" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="privateKeyRegistryByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keystoreRegistry-ref" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="publicKey">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keystore-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="alias" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="privateKey">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keystore-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="alias" type="xsd:string" use="required"/>
                    <xsd:attribute name="password" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- DIGITAL SIGNATURE -->

    <xsd:element name="signer">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKey-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="verifier">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKey-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="signerWithChoosersByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKeyRegistryByAlias-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="verifierWithChoosersByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKeyRegistryByAlias-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="signerWithChooserByPrivateKeyId">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKeyMap-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="verifierWithChooserByPublicKeyId">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKeyMap-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64Signer">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKey-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64Verifier">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKey-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64SignerWithChoosersByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKeyRegistryByAlias-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64VerifierWithChoosersByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKeyRegistryByAlias-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64SignerWithChooserByPrivateKeyId">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKeyMap-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64VerifierWithChooserByPublicKeyId">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKeyMap-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" default="SHA1withRSA"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- SYMMETRIC CRYPTOGRAPHY -->    

    <xsd:element name="symmetricKeyGenerator">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="algorithm" type="xsd:string" default="DESede"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64SymmetricKeyGenerator">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="algorithm" type="xsd:string" default="DESede"/>
                    <xsd:attribute name="chunkOutput" type="xsd:boolean" default="false"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="symmetricCipherer">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keyAlgorithm" type="xsd:string" default="DESede"/>
                    <xsd:attribute name="cipherAlgorithm" type="xsd:string" default="DESede/CBC/PKCS5Padding"/>
                    <xsd:attribute name="mode" type="cipherModeType" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="symmetricCiphererWithStaticKey">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keyAlgorithm" type="xsd:string" default="DESede"/>
                    <xsd:attribute name="cipherAlgorithm" type="xsd:string" default="DESede/CBC/PKCS5Padding"/>
                    <xsd:attribute name="key" type="xsd:string" use="required"/>
                    <xsd:attribute name="initializationVector" type="xsd:string" use="required"/>
                    <xsd:attribute name="mode" type="cipherModeType" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64SymmetricCipherer">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keyAlgorithm" type="xsd:string" default="DESede"/>
                    <xsd:attribute name="cipherAlgorithm" type="xsd:string" default="DESede/CBC/PKCS5Padding"/>
                    <xsd:attribute name="mode" type="cipherModeType" use="required"/>
                    <xsd:attribute name="chunkOutput" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="b64SymmetricCiphererWithStaticKey">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keyAlgorithm" type="xsd:string" default="DESede"/>
                    <xsd:attribute name="cipherAlgorithm" type="xsd:string" default="DESede/CBC/PKCS5Padding"/>
                    <xsd:attribute name="key" type="xsd:string" use="required"/>
                    <xsd:attribute name="initializationVector" type="xsd:string" use="required"/>
                    <xsd:attribute name="mode" type="cipherModeType" use="required"/>
                    <xsd:attribute name="chunkOutput" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="cipherModeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ENCRYPT"/>
            <xsd:enumeration value="DECRYPT"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>