src/main/resources/com/google/code/springcryptoutils/core/spring/crypt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://code.google.com/p/spring-crypto-utils/schema/crypt"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://code.google.com/p/spring-crypto-utils/schema/crypt"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="keystore">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="location" type="xsd:string" use="required"/>
                    <xsd:attribute name="password" type="xsd:string" use="required"/>
                    <xsd:attribute name="type" type="xsd:string" default="JKS"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="base64EncodedKeystore">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:sequence>
                        <xsd:element name="file" type="xsd:string"/>
                    </xsd:sequence>
                    <xsd:attribute name="password" type="xsd:string" use="required"/>
                    <xsd:attribute name="type" type="xsd:string" default="JKS"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="keystoreRegistry">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="entries-ref" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="publicKeyRegistryByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keystoreRegistry-ref" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="privateKeyRegistryByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keystoreRegistry-ref" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="publicKey">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keystore-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="alias" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="privateKey">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="keystore-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="alias" type="xsd:string" use="required"/>
                    <xsd:attribute name="password" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="signer">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKey-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="verifier">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKey-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="signerWithChoosersByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKeyRegistryByAlias-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="verifierWithChoosersByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKeyRegistryByAlias-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="signerWithChooserByPrivateKeyId">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKeyMap-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="verifierWithChooserByPublicKeyId">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKeyMap-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="base64EncodedSigner">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKey-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="base64EncodedVerifier">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKey-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="base64EncodedSignerWithChoosersByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKeyRegistryByAlias-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="base64EncodedVerifierWithChoosersByAlias">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKeyRegistryByAlias-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="base64EncodedSignerWithChooserByPrivateKeyId">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="privateKeyMap-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="base64EncodedVerifierWithChooserByPublicKeyId">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="publicKeyMap-ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                    <xsd:attribute name="charsetName" type="xsd:string" default="UTF-8"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="symmetricKeyGenerator">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>